strict-ssl=false
@nxg-web:registry=https://ncrvoyix.jfrog.io/artifactory/api/npm/digitalbanking-npm-group/
@nvdb:registry=https://ncrvoyix.jfrog.io/artifactory/api/npm/third-party-ncr-d3vcloud-proxy/
@ncr-digital-banking:registry=https://npm.pkg.github.com
//ncrvoyix.jfrog.io/artifactory/api/npm/digitalbanking-npm-group/:_authToken={JFROG_PASSWORD}
//ncrvoyix.jfrog.io/artifactory/api/npm/digitalbanking-npm-group/:username={JFROG_USERNAME}
//ncrvoyix.jfrog.io/artifactory/api/npm/digitalbanking-npm-group/:always-auth=true
//ncrvoyix.jfrog.io/artifactory/api/npm/third-party-ncr-d3vcloud-proxy/:_authToken={JFROG_PASSWORD}
//ncrvoyix.jfrog.io/artifactory/api/npm/third-party-ncr-d3vcloud-proxy/:username={JFROG_USERNAME}
//ncrvoyix.jfrog.io/artifactory/api/npm/third-party-ncr-d3vcloud-proxy/:always-auth=true
registry=https://registry.npmjs.org/
//ncrvoyix.jfrog.io/artifactory/api/npm/digitalbanking-npm-group/:email=gv185058@ncr.com